@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1750px;margin: 0 auto;text-align: center;font-family: "Montserrat"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1190px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-size: 17px; font-weight: 500; color: #fff; display: inline-block; padding: 17px 35px; background: #E5472F; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: 1.42857; margin-bottom: 20px;padding: 4px;transition: border 0.2s ease-in-out 0s;}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-size: 100px;font-weight: 100;color:#ccc;}
/*header*/
#header {background: url(../images/common/bgHeader.jpg)no-repeat center top;background-size: 100% 100%;padding: 30px 0}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;position: relative;margin-left: 40px;}
#header nav ul li a {font-size: 17px; font-weight: 500; color: #fff;}
#header nav ul li.active-menu:before, #header nav ul li:hover:before {content: ""; width: 18px; height: 11px; position: absolute; background: white; top: -20px;left: 50%; transform: translateX(-50%);clip-path: polygon(50% 100%, 4% 0, 100% 0);}
.hdTop{text-align: right;padding: 0;font-size: 30px; font-weight: 800; color: #fff;}
.hdTop img, .hdTop p{display: inline-block;vertical-align: middle;margin: 0 auto;}
.hdBotLeft, .hdBotRight{display: inline-block;vertical-align: bottom;}
.hdBotLeft {width: 35.83%;}
.hdBotLeft img{max-width: 420px; width: 100%;}
.hdBotRight {width: 63.17%;text-align: right;}

/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover; padding: 110px 0 40px}
#banner p{font-size: 65px; font-weight: 600; color: #fff;margin: 0 auto 40px;text-shadow: 0 0 20px #000}
#banner p span{display: block;font-size: 20px}
#banner .btn{background-color: rgba(0,0,0,0) ; border: 1px solid #fff;}

/*content*/
#content {padding: 0 0 100px;}

/* first section */
#first-section{position: relative;padding: 0 0 100px;margin-top: -30px;}
#first-section .row{max-width: 1750px}
#first-section .fsImage1, #first-section .fsImage2, #first-section .epoxyPhrase {display: inline-block; vertical-align: middle;}
#first-section .fsImage1 {max-width: 333px; width: 19%;}
#first-section .fsImage2 {max-width: 210px; width: 12%;margin-left: 20px;}
#first-section .epoxyPhrase{width: 25%;font-weight: 500; font-size: 75px;text-align: left;margin-left: 50px;border-right: 1px solid #D6D6D6;}
#first-section .epoxyPhrase span{display: block;font-size: 50px;}
#first-section .last-paragraph {display: inline-block;vertical-align: middle;width: 32%;text-align: left;line-height: 30px;margin-left: 50px;}

#second-section{position: relative;background: url(../images/content/bg1.png)no-repeat center top; background-size: 1900px 100%; max-width: 1900px; width: 100%;margin: 0 auto;padding: 67px 0 107px;}
#second-section .row{max-width: 1600px}
.ssImage1{max-width: 783px; width: 100%;}
.ssImage2{position: absolute;top:-140px; left:470px; z-index: -1}
.ssLeft.inb, .ssRight.inb{display: inline-block;vertical-align: middle; width: 49.5%;}
.ssRight {text-align: left;margin-left: 100px;max-width: 653px}
.ssRight h3{font-size: 23px; font-weight: 500; letter-spacing: 12px}
.ssRight h2{font-size: 60px; font-weight: 500; }
.ssRight p{max-width: 643px; font-size: 18px;margin: 30px 0;}

#third-section{}
#third-section .row{position: relative;max-width: 1550px;background:url(../images/content/bg2.png)no-repeat center top;background-size: 1600px 100%;padding: 67px 0 107px;}
.tsImage1{max-width: 780px; width: 100%;}
.tsImage2{position: absolute;top:65px; left:520px; z-index: -1}
.tsLeft.inb, .tsRight.inb{display: inline-block;vertical-align: middle; width: 59.5%;}
.tsLeft {text-align: left;max-width: 500px}
.tsLeft h3{font-size: 23px; font-weight: 500; letter-spacing: 12px}
.tsLeft h2{font-size: 60px; font-weight: 500; }
.tsLeft p{max-width: 643px; font-size: 18px;margin: 30px 0;}
.tsRight{margin-left: 100px;}

#last-section{position: relative;background: url(../images/content/bg1.png)no-repeat center top; background-size: 1900px 100%; max-width: 1900px; width: 100%;margin: 0 auto;padding: 67px 0 107px;}
#last-section .row{max-width: 1600px}
.lsImage1{max-width: 783px; width: 100%;}
.lsImage2{position: absolute;top:180px; left:440px; z-index: -1}
.lsLeft.inb, .lsRight.inb{display: inline-block;vertical-align: middle; width: 49.5%;}
.lsRight {text-align: left;margin-left: 80px;max-width: 703px}
.lsRight h3{font-size: 23px; font-weight: 500; letter-spacing: 11px}
.lsRight h2{font-size: 60px; font-weight: 500; }
.lsRight p{max-width: 650px; font-size: 18px;margin: 30px 0;}
/*footer*/
#footer {}
.footTop{background: #E54327; padding: 40px 0;text-align: left; margin-bottom: 50px;}
.footTop .row{max-width: 1600px;}
.footTop h4{font-size: 20px; font-weight: 700; letter-spacing: 10px;color: #fff;}
.ftTopFirst{display: inline-block;vertical-align: top;width: 28%;}
.ftTopFirst nav ul {margin: 30px 0 0 0;padding: 0;}
.ftTopFirst nav ul li {display:block;vertical-align: middle;position: relative;line-height: 30px}
.ftTopFirst nav ul li a {font-size: 17px !important; font-weight: 500; color: #fff;}
.ftTopSecond{display: inline-block;vertical-align: top;width: 20%;}
.ftTopSecond ul{margin: 30px 0 0 0;padding: 0;font-size: 17px !important; font-weight: 500; color: #fff;line-height: 30px; list-style-type: none;}
.ftTopThird{display: inline-block;vertical-align: top;width: 26%;}
.ftTopThird ul{margin: 20px 0 0 0;padding: 0;font-size: 17px !important; font-weight: 500; color: #fff;line-height: 45px; list-style-type: none;}
.ftTopThird ul li.phone{font-size: 27px}
.ftTopLast{display: inline-block;vertical-align: top;width: 25%;}
.ftTopLast img{display: inline-block;vertical-align: top; max-width: 110px; width: 100%;margin: 7px;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
#footer .copy, #footer .silver{font-weight: 700; font-size: 15px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
